.i1{
    background-image: url("Images/i1.png");
}
.i2 {
    background-image: url("Images/i2.png");
}
.i3 {
    background-image: url("Images/i3.png");
}
.i4 {
    background-image: url("Images/i4.png");
}
.i5 {
    background-image: url("Images/i5.png");
}
.c1 {
    background-image: url("./Images/c1.png");
}
.s1 {
    background-image: url("./Images/s1.png");
}
.d1 {
    background-image: url("./Images/d1.png");

   
}
.image1{
    background-image: url("Images/image1.png");
}

.active{
    position: absolute;
    right:-800px ;
    
}